---
import "../style/style.css";
const allProjects = await Astro.glob("../content/projects/*.md");
---


<div class="container">
    <div class="heading">
        <h2>Projects</h2>
        <a class="project-contact" href="#footer">CONTACT ME</a>
    </div>
    <div class="projects">
        {
            allProjects.map(project =>(
            <div class="cell">
                <img src={project.frontmatter.url_image} alt="sample of webpage">
                <h3 class="heading-m">{project.frontmatter.name}</h3>
                <ul>
                        <li>{project.frontmatter.skill_1}</li>
                        <li>{project.frontmatter.skill_2}</li>
                        <li>{project.frontmatter.skill_3}</li>
                </ul>
            <div class="links">
                <a href={project.frontmatter.url_project}>view project</a>
                <a href={project.frontmatter.url_code}>view code</a>
            </div>
            </div>
        ))
        }
    </div>
</div>


<style>
    .container{
        width: 343px;
    }
    .heading{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    h2{
        color: var(--white-color, #FFF);
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px; /* 100% */
        letter-spacing: -1.136px;
    }
    .project-contact{
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px; /* 162.5% */
        letter-spacing: 2.286px;
        background-color: transparent;
        border: unset;
        color: var(--white-color);
        text-transform: uppercase;
        padding-bottom: 10px;
        border-bottom: 2px solid var(--green-color);
        margin: unset !important;
    }
    img{
        width: 345px;
        height: 253px;
        margin-inline: auto;
        margin-top: 40px;
    }
    h3{
        text-align: left;
        text-transform: uppercase;
        margin: 20px 0 7px 0;
    }
    ul{
        display: flex;
        justify-content: flex-start;
        padding-left: 0;
    }
    li{
        color: var(--white-color);
        margin-right: 18px;
    }
    .links{
        display: flex;
        justify-content: flex-start;
        padding-left: 0;
    }
    a{
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 162.5% */
    letter-spacing: 2.286px;
    color: var(--white-color);
    text-transform: uppercase;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--green-color);
    margin: 0 30px 80px 0;
    }



    @media screen and (min-width: 766px){
        .container{
            width: 706px;
        }
        h2{
            font-size: 72px;
            font-style: normal;
            font-weight: 700;
            line-height: 72px; /* 100% */
            letter-spacing: -2.045px;
        }
        .projects{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
        }
    }

    @media screen and (min-width: 1440px){
        .container{
            width: 1110px;
        }
        h2{
            font-size: 88px;
        }
        .cell img{
            width: 545px;
            height: 400px;
        }
    }
</style>